@import "tailwindcss";


/* 🌙 Default: Force Dark Mode */
:root {
  --background: #0a0a0a;
  --foreground: #ededed;
}

/* 🎨 Tailwind Theme Variables (v4 syntax) */
@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
}

/* 🧱 Base Styling */
html,
body {
  background-color: var(--background);
  color: var(--foreground);
  overflow-x: hidden;
  scroll-behavior: smooth;
}

/* 🎨 Utility for radial gradient backgrounds */
.bg-gradient-radial {
  background: radial-gradient(circle at center, var(--tw-gradient-stops));
}

/* Text animate */
@keyframes marquee {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-92%);
  }
}
.animate-marquee {
  animation: marquee 10s linear infinite;
}
@keyframes marqueee {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-100%);
  }
}
.animate-marqueee {
  animation: marqueee 10s linear infinite;
}

